body{
    font-family: 'Arial', sans-serif;
}

h1{
    text-align: center;
    color:#F26363;
    margin-top: 50px;
}

h3{
    color:#F26363;
}

label{
    color:#F26363;
}

.CreateAccount{
    text-align: center;
    max-width:230px;
    margin:100px auto;
    padding:20px;
    border: 1px solid lightpink;
    border-radius: 10px;
    box-shadow: 0 0 10px #FF4F4F;
}

.CreateAccount input{
    width: 80%;
    padding:1px;
    margin:10px 0;
    box-sizing: border-box;
}

.CreateAccount button{
    width:98%;
    padding:2px;
    margin:10px 0;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}

.CreateAccount button.submit {
    background-color: #FF9F9F; 
    color: #FEEDF0;
}

.CreateAccount button.submit:hover {
    background-color: #F6BBC4;
}

.CreateAccount button.button {
    background-color: #FF9F9F;
    color: #FEEDF0; 
}

.CreateAccount button.button:hover {
    background-color: #F6BBC4;
}

.message {
    color: #FF5757;
    font-weight: bold;
}

body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url('OBackground.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 50%;
    opacity: 0.2;
    z-index: -1;
}